
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.wrapper h1 {
  font-size: 32px;
  color: #123419;
  text-align: center;
 }
 
.logo {
  font-size: 50px;
  padding: 15px;
  float: left;
  color: #ffc519;
}

.menu {
  display : flex;
  list-style: none;
  float : right;
}
.menu ul li a{
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 1,5 rem;
  transition: 1s;
}

.menu-toggle {
  float: right;
  font-size: 24px;
  cursor: pointer;
  padding: 30px;
  display: none;
}

@media (max-width: 700px) {
  .logo {
    font-size: 30px;
  }
  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background-color: #123419;
  }

  .menu.active {
      display: flex;
  }

  .menu ul {
      flex-direction: column;
      align-items: center;
  }

  .menu ul li {
      margin: 0;
      padding: 15px;
      width: 100%;
      text-align: center;
      top: -100px;
  }
  .menu-toggle {
    display: flex;
    z-index: 1;
  }
  
  .menu-toggle svg {
    fill: #ffc519; /* Change the color to your desired color */
  
  }
  
}

header{
  font-family:'Coiny';
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #123419;
  z-index: 1;
}

header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header ul li {
  float: left;
}

header ul li a {
  font-size: 20px;
  color: #ffc519;
  text-align: center;
  padding: 0px 16px 0px 16px ;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out; /* Add color transition */
}
header ul li a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffc519;
  transition: all 0.3s ease-in-out;
}

header ul li a:hover{
  color: #ff8c00; /* Change color on hover */
}


.judul {
  font-size: 36px;
  font-family:'Coiny';
  color: #123419;
  background-image: url('bg/1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Mengatur tata letak elemen dalam satu kolom */
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.judul h1 {
  padding-bottom: 10px; 
  margin: 0; 
  animation: shake 0.5s infinite alternate; /* Animasi bergoyang selama 0.5 detik */
}
@keyframes shake {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px); /* Bergoyang ke kanan */
  }
}
.btn-jdl {
  font-size: 20px;
  font-family: 'Averia Sans Libre', sans-serif;
  color: #ffc519;
  background-color: #123419;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer; /* Add a pointer cursor on hover */
}

.btn-jdl:hover {
  background-color: #1a4b2a;
  color: #fff;
}

.desc {
  padding-bottom: 100px;
}

@media (max-width: 700px){
  .judul {
    width: 46,5vh;
    height: fit-content;
    font-size: 15px;
    padding-top: 40px;
  }
  .btn-jdl{
    font-size: 10px;
  }
}
.page1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('bg/3.png');
  padding: 20px;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.tmp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.kolom h1 {
  font-family: 'Dokdo', cursive;
  font-size: 35px;
  color: #123419;
  text-align: center;
  padding: 20px;
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 80px;
  margin: 0;
  transform: scale(1);
  animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
.zoo{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}
@media screen and (max-width: 700px) {
  .page1 {
    width: 46,5vh;
    height: 30vh;
    padding: 0;}
  .tmp {
    height: 25vh;
    /* flex-direction: column; */
  }
  
  .kolom h1 {
    font-size: 15px;
    text-align: center;
    padding-left: 40px;
  }
  .zoo{
    display: none;
  }
}

.page2, .page3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('bg/4.png');
  padding: 20px;
  position: relative;
  height: 100vh;
}

.jdl-ktg{
  text-align: center;
  color: #123419;
  font-family:'Coiny';
  font-size: 30px;
}
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  margin-top: 30px;
}

.card {
  width: 30%;
  box-sizing: border-box;
  border: 5px solid #123419;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 300px; /* Adjust the height to your desired value */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-title {
  margin-top: 10px;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #123419;
  color: #ffc519;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 700px) {
  .page2 {
    width: 46,5vh;
    height: 35vh;
    padding-top: 10px;
    margin: 0%;
  }
  .jdl-ktg {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 0px;
    
  }
  .card-group {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  .card img {
    height: 80px;
  }
  .card-body {
    padding: 0px;
  }
  .card-title{
    padding-bottom: 20px;
  }
}

.klasifikasi {
  display: none;
}

.card-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.carousel-container {
position: relative;
overflow: hidden;
}

.carousel {
display: flex;
transition: transform 0.5s ease-in-out;
}

.carousel img {
width: 100%;
height: auto;
}



.prevBtn,
.nextBtn {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: #3498db;
color: #fff;
border: none;
padding: 10px 15px;
cursor: pointer;
font-size: 16px;
border-radius: 5px;
transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.prevBtn:hover,
.nextBtn:hover {
background-color: #2980b9;
}

.prevBtn:focus,
.nextBtn:focus {
outline: none;
box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

.prevBtn,
.nextBtn {
background-color: #123419;
color: #fff;
border: none;
padding: 12px 20px;
font-size: 18px;
border-radius: 3px;
transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.prevBtn:hover,
.nextBtn:hover {
background-color: #123419;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.prevBtn:active,
.nextBtn:active {
transform: scale(0.95);
}

.prevBtn:focus,
.nextBtn:focus {
outline: none;
box-shadow: 0 0 10px rgba(46, 204, 113, 0.7);
}

.page3, .page4 {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url('bg/5.png');
padding: 20px;
position: relative;
height: 100vh;
}
.page3 {
  height: fit-content;
}
.section-title {
text-align: center;
}

.section-title h2 {
color: #123419;
font-family:'Coiny';
font-size: 50px;
margin-bottom: 20px;
}

.section-title p {
color: #123419;
font-family: 'Averia Sans Libre', sans-serif;
font-size: 30px;
}

.cp {
text-align: center;
margin-top: 20px;
}

.cp button {
cursor: pointer;
position: relative;
width: 50%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
margin-bottom: 10px;
border-radius: 10px;
background-color: rgba(52, 152, 219, 0); /* Transparent background */
transition: background-color 0.3s, color 0.3s;
}

.cp button:hover {
background-color: #3498db;
}

.cp h4 {
font-size: 25px;
color: #123419;
margin: 0;
}

.cp p {
font-size: 20px;
color: #123419;
}

.cp svg{
margin-top: 10px;
}
@media screen and (max-width: 700px) {
  .page3 {
    width: 46,5vh;
    height: 32vh;
  } 
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 0px;
    }
    .section-title p {
    padding-top: 0%;
    font-size: 15px;
    }
    
    .cp {
    text-align: center;
    margin-top: 10px;
    }
    
    .cp h4 {
    font-size: 13px;
    }
    
    .cp p {
    font-size: 8px;
    }
    .cp svg {
      margin: 0%;
      height: 10px;
    }
  }

.page4 h2 {
  font-family: 'Coiny';
  font-size: 30px;
  text-align: center;
}

form {
font-family: 'Averia Sans Libre', sans-serif;
max-width: 600px;
margin: auto;
}
label {
display: block;
margin-bottom: 5px;
}
input, textarea {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
}
input[type="submit"] {
  background-color: #123419;
  color: #ffc519;
  cursor: pointer;
  padding: 10px 20px; /* Sesuaikan ukuran padding sesuai kebutuhan */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

  .notification {
      position: fixed;
      top: 10px;
      right: 10px;
      padding: 10px;
      background-color: #4CAF50; /* Hijau */
      color: white;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 999;
  }

  @media screen and (max-width : 700px) {
    .page4{
      height: fit-content;
      padding: 10px;
    }
    .page4 h2 {
      font-size: 20px;
    }
    .logo .btn-jdl:hover.page1 .tmp{
      width: 100;
    }
  }
